.myAlert-top {

  position: fixed;
  top: 5px;
  left: 2%;
  width: 96%;

}

.move-icon {

  /*margin-left: 62%;*/

}

.myAlert-top2 {

  position: fixed;
  top: 100px;
  z-index: 999;
  width: 100%;

}

.move-icon2 {

  position: fixed;
  left: 95%;

}

.login-alert {

  position: fixed;
  top: 20%;
  z-index: 999;
  width: 660px;
  margin-left: 9%;

}

.login-move-icon {

  margin-left: 62%;

}

.reset-move-icon {

  margin-left: 50%;
  
}

.rs-form-alert {

  position: fixed;
  top: -2%;
  z-index: 999;
  width: 660px;
  margin-left: -5%;

}