.sec-menupage {

  padding: 10px 0 30px;
  /*background: #EEEEEE*/
  background-color: #EEEEEE;
  background-size: cover;
  background-repeat: no-repeat;
  
}

/*
.sec-menupage .mv-blk .cmn-ttl{
  text-transform: capitalize;
} 
.sec-menupage .mv-blk .cmn-ttl span{
  color:#081D45;
  text-shadow:5px 5px 5px #00000060;
}
.sec-each-menu{
  padding: 30px 0px;
}
.sec-each-menu .menulist{
  margin-bottom: 20px;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  background-color: #ffffffaa ;
  padding:5px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(8,7,16,0.6);
}
.sec-each-menu .img-blk{
  float: left;
  width: 20%;
}
.sec-each-menu .img-blk img{
  width:200px;
  height:200px;
  border-radius: 2px;
}

.sec-each-menu .txt-blk{
  float: right;
  width: 80%;
}
.sec-each-menu .txt-blk h5{
  font-size: 28px;
  line-height: 1.85;
  margin:0px;
}
.sec-each-menu .txt-blk span{
  color:#f53434ad;
  letter-spacing: 0.44px;
}*/

.menu-h-tit {

  position: relative;
  line-height: auto;
  margin-top: 70px;
  margin-bottom: 0;
  color: #c0392b;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;

}

.menu-list {

  margin-top: 82px;

}

.menu-list li {

  float: left;
  width: 40%;
  margin-right: 3%;
  margin-left: 5%;
  padding: 30px 0;
  list-style-type: none;

}

.menu-lf-img {

  float: left;
  width: 180px;
  height: 160px;

}

.menu-rt {

  float: right;
  width: 60%;
  margin-top: -30px;

}

.menu-rt-h {

  /*margin-bottom: 20px;
  font-size: 22px;*/
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px dashed #c0392b;

}

.menu-rt-p {

  line-height: 30.15px;
  font-size: 16px;

}

.menu-list li:nth-child(2n) {

  margin-right: 0;

}

.menu-btn {

  margin-top: 40px;
  margin-right: 40%;
  margin-bottom: 70px;
  margin-left: 40%;
  padding: 20px;
  border: 1px ridge;
  background: #363636;
  border-radius: 5px;

}

.menu-btn:hover {

  background: #808080;

}

.menu-btn-txt {

  color: #FFF;
  font-size: 16px;
  letter-spacing: 2px;

}


.food-price {

  float: right;
  color: #c0392b;
  font-size: 25px;
  font-weight: 800;
  font-style: italic;
  
}

/*
.ft-icon {
  position: relative;
  color: #000000;
  font-size: 97.03px;
  text-align: center;
  font-style: italic;
  font-weight: 200;
  margin-top: -60px;
}

.ft-icon::before,
.ft-icon::after {
  position: absolute;
  width: 10%;
  height: 1px;
  background: #000000;
  content: '';
}

.ft-icon::before {
  left: 0;
  margin-top: 60px;
  margin-right: 50px;
  margin-left: 35%;
}

.ft-icon::after {
  right: 0;
  margin-top: 60px;
  margin-right: 35%;
  margin-left: 150px;
}*/