.sec-reservation {

  padding: 10px 0 100px;
  background-image: url('myreserve_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.sec-reservation .blk-form {

  margin: 0 20%;
  padding: 50px 35px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
  background-color: rgba(255, 255, 255, 0.13);
  text-align: center;
  border-radius: 10px;
  backdrop-filter: blur(20px);

}

.form-reserve input {

  width: 300px;
  margin-bottom: 20px;
  padding: 10px 30px;
  border: 1px solid #363d4e;
  border-radius: 5px;

}

.form-reserve select {

  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 7px;
  padding: 10px 30px;
  border: 1px solid #363d4e;
  border-radius: 5px;

}

#book-btn {

  margin-top: 30px;

}

/*.sec-reservation .blk-form label{
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
.sec-reservation .blk-form input,textarea{
 
  height: 25px;
  width: 30%;
  background-color: #fbfafa12;
  border-radius: 2px;
  padding: 0 10px;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 100;
}*/

::placeholder {

  color: #e5e5e5;

}

.sec-reservation .blk-form2 {

  margin: 0 20%;
  margin-top: 10px;
  padding: 20px 35px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
  background-color: rgba(255, 255, 255, 0.13);
  text-align: center;
  border-radius: 10px;
  backdrop-filter: blur(20px);

}

.booking-ttl {

  margin-top: 50px;

}

.booking-btn {

  margin-top: -100px;
  
}