/* Mainvisual Section */
.sec-mv {

  height: 90vh;
  padding: 10px 0 150px;
  background-image: url('mv-bg.jpg');
  background-size: cover;
  /*background-image: linear-gradient(
    #7bd7f868, 
    #ffffffbd
  ),url('img_mv.jpg');*/
  background-repeat: no-repeat;

}

.sec-mv .mv-blk {

  padding-top: 1.5%;

}

.mv-txt {

  line-height: 22px;

}

.sec-mv .mv-form-blk {

  position: absolute;
  /*top: 70%;*/
  top: 80%;
  /*left:8%;*/
  left: 20%;
  /*width:80%;*/
  width: 65%;
  /*padding: 35px 20px 30px;*/
  padding: 0px 20px 30px;
  background-color: #7bd7f868;
  border-radius: 5px;

}

.sec-mv .mv-form-blk input,select {

  margin-right: 10px;
  padding: 10px;
  border: 1px solid #363d4e;
  border-radius: 5px;

}

.sec-mv .mv-form-blk .label p {

  float: left;
  padding-right: 15%;
  padding-left: 7%;

}

.sec-mv .mv-form-blk .formstyle {

  margin-right: 5%;
  padding-left: 10%;

}

.form-check-btn {

  width: 150px;

}

#check-avail {

  width: 180px;
  padding: 8px 5px;
  border: 1px solid transparent;
  background-color: #FF8364;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;

}

#check-avail:hover {

  border: 1px solid #FF8364;
  background-color: #FFFFFF;
  color: #FF8364;

}

.check-avail-txt span {

  font-weight: bolder;
  font-style: italic;

}

#check-out {

  margin-left: 10%;

}

#ppl {

  margin-left: 7%;

}

#rm-type {

  margin-left: 5%;

}

/* Welcome blog Section */
.sec-blog {

  padding: 60px 0px;

}

.sec-blog .txt-blk {

  float: left;
  width: 60%;

}

.sec-blog .txt-blk .cmn-ttl {

  padding-left: 15%;
  text-align: left;

}

.sec-blog .txt-blk p {

  line-height: 1.8;
  padding: 10px 100px;

}

.sec-blog .img-blk {

  position: relative;
  float: right;
  width: 40%;
  padding-top: 30px;

}

.sec-blog .img-blk img {

  width: 300px;
  height: 250px;

}

.sec-blog .img-blk .img02 {

  position: absolute;
  top: 55%;
  right: 20%;
  width: 180px;
  height: 170px;
  border: 2px solid #fff;
  border-radius: 50%;

}

/* Room Section */
.sec-room {

  padding: 20px 100px;

}

#rooms {

  background: #EEEEEE;

}

.sec-room .txt-blk p {

  line-height: 1.8;
  padding: 5px 250px 20px 250px;
  text-align: center;

}

.sec-room .room-blk .img-blk {

  width: 500px;
  height: 200px;
  padding-bottom: 10px;

}

/* Section Menu */
.sec-menu {

  padding: 50px 0 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)),
    url('food_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

}

.sec-menu .txt-blk p {

  line-height: 1.8;
  padding: 5px 250px 20px 250px;
  text-align: center;

}

.sec-menu .menu-blk {

  padding: 32px 0 40px;

}

.sec-menu .menu-blk img {

  position: relative;
  width: 300px;
  height: 260px;

}

.sec-menu .menu-blk h4 {

  position: absolute;
  top: 40%;
  /*width: 80%;*/
  width: 90%;
  line-height: 1.35;
  padding: 3px 10px 0;
  background-color: rgba(95, 95, 92, 0.5);
  color: #ffffff;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;

}

/* Room Page*/
/* Main visual Section */

.sec-room-mv {

  padding: 10px 0 200px;
  background-size: cover;
  background-repeat: no-repeat;

}

.sec-room-mv .mv-blk h2 {

  padding-top: 5%;

}

.room-ttl {

  margin-top: 100px;
  margin-left: 20%;
  font-size: 40px;
  font-weight: 700;

}

.sec-singleroom-bg {

  height: 100vh;
  background-image:
    /* top, transparent red */
    /*linear-gradient(
    #7bd7f868, 
    #ffffffbd
  ),*/
    /* your image */
    url(hotel2.jpg);

}

.sec-familyroom-bg {

  background-image: linear-gradient(#7bd7f868,
      #ffffffbd), url('img_family_bg.jpg');

}

.sec-luxuryroom-bg {

  background-image: linear-gradient(#7bd7f868,
      #ffffffbd), url('img_luxury_bg.jpg');

}

.sec-presidentialroom-bg {

  background-image: linear-gradient(#7bd7f868,
      #ffffffbd), url('img_presidential_bg.jpg');

}

.sec-twinroom-bg {

  background-image: linear-gradient(#7bd7f868,
      #ffffffbd), url('img_twin_bg.jpg');

}

.sec-coupleroom-bg {

  background-image: linear-gradient(#7bd7f868,
      #ffffffbd), url('img_couple_bg.jpg');

}

.no-room {

  height: 80vh;

}

/* Room Section */
.sec-room {

  padding-top: 2%;
  padding-bottom: 4%;

}

/*.sec-room .room .booked{

  opacity: 0.5;
  background-color: #ff0303;

}*/

.booked {

  background-color: #ff0303;
  opacity: 0.5;

}

.sec-room .room {

  float: left;
  margin-bottom: 30px;
  padding-left: 6.5%;

}

.sec-room .room img {

  width: 280px;
  height: 200px;

}

.service {

  /*width: 280px;*/
  list-style: square;
  margin-bottom: 10px;

}

.room-ttl {

  float: left;

}

.room-pg-icon {

  margin-right: 10px;
  font-size: 20px;

}

#room-num-span {

  margin-right: 20px;
  margin-left: 15px;

}

#room-cap-span {

  margin-right: 20px;

}

/*.service::before{
  content: '';
  background-image: url('hotel3.png') left top no-repeat;
  padding-left: 10px;
}*/

.room -list {

  margin-top: 5px;

}

.room-list li {

  float: left;
  width: 27%;
  margin: 0 30px;
  list-style-type: none;

}

.room-list li:nth-child(3n) {

  margin-right: 0;

}

.card {

  width: 100%;
  height: 415px;
  margin-bottom: 50px;
  background-color: #EEEEEE;
  border-radius: 8px;

}

.fth-img {

  width: 100%;
  height: 230px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 8px 8px 0 0;

}

.fth-txt-1 {

  line-height: 14px;
  padding-top: 17px;
  color: #616161;
  font-family: IBMPlexSans-Regular;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

}

.fth-txt-2 {

  line-height: 22px;
  color: #141414;
  font-family: IBMPlexSans-Bold;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}

.room-book-btn {

  /*margin-left: 15%;*/
  margin-left: 15px;
  width: 200px;

}

.room-service {

  margin-left: 15px;
  
}

.owl-carousel .nav-btn{

  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 90px !important;

}

.owl-carousel .prev-slide{
  
  left: -80px;
  font-size: 70px;
  color: #777777;

}
.owl-carousel .next-slide{
  
  right: -30px;
  font-size: 70px;
  color: #777777;

}

/*.owl-dots {
  margin-top: 10px;
  text-align: center;
}

.owl-dots button.owl-dot.active span, 
.owl-dots button.owl-dot:hover span {
background-color: #777777;
border-radius: 50%;
height: 12px;
width: 12px;
position: absolute;
top: 1px;
left:1px;

}

.owl-dots button.owl-dot{
border: 1px solid gray;
background: white;
 border-radius: 50%;
 height: 16px;
 width: 16px;
 position: relative;
}
*/

.owl-dots {

  text-align: center;
  padding-top: 15px;

}

.owl-dots button.owl-dot {

  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;

}
.owl-dots button.owl-dot.active {

  background-color: #777777;

}
.owl-dots button.owl-dot:focus {

  outline: none;
  
}

#carousel .nav-btn2{

  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 150px !important;

}

#carousel .prev-slide2{
  
  left: -80px;
  font-size: 70px;
  color: #FFFFFF

}

#carousel .next-slide2{
  
  right: -30px;
  font-size: 70px;
  color: #FFFFFF

}

