<h1>Logout?</h1>

<%= link_to "<button class='common-btn lg-out-back'>Logout</button>".html_safe, logout_path , method: :delete  %>
<%= link_to "<button class='back-dash'>Back</button>".html_safe, dashboard_path  %>