<%= image_tag(food.food_img, :alt => "img" , class: 'show-room-type' ) %><br>

<div class="show-food-data">
  <p>Food Name:<%= food.name %></p>
  <p>Food Price:<%= food.price %>$</p>
  <p class="f-des">Food Description:<%= food.description %><p>

</div>

</div>