<p>

  Hello <%= @token.user.name %>,<br><br>

  Somebody requested a new password for the account associated with <%= @token.user.email %>.<br>

  No changes have been made to your account yet.<br>

  You can reset your password by clicking the link below:<br>

  This link will expire in two minutes.<br>

  <%= link_to "Reset password", edit_token_url(@token.password_reset_token) %><br>

  If you did not request a new password, please let us know immediately by replying to this email.<br><br>

  Yours,<br>

  The RHotel team<br>

</p>